VITE_API_URL=http://localhost:3333/api/v1
FRONTEND_PORT=3000
BACKEND_PORT=3333
NODE_ENV=development
HOST=0.0.0.0
PORT=3333
DB_CLIENT=memory
CORS_ORIGIN=http://localhost:3000
AUTH_TOKEN_TTL=7d
JWT_SECRET=troque-esta-chave
ORACLE_USER=finansync
ORACLE_PASSWORD=finansync
ORACLE_HOST=host.docker.internal
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=XEPDB1
# ORACLE_CONNECTION_STRING=host.docker.internal:1521/XEPDB1
